    <!-- animations Section -->
    <section id="animations" class="container content-section text-right">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Animations</h1>
                <h2>Some talks move faster than others.</h2>
                <p>Interactivity is great, and so are big grids of many plots. However sometimes, you need to emphasize each and every point to elicit a feeling. Usually the overall feeling, not the specifics, stick with the users. For this I use animations. Unfortunately most of my work here relates to natural disasters.</p>
                <p> this would be a real good place to put some bad ass base r scatterplots etc. </p>
            </div>
        </div>
    </section>