    <!-- animations Section -->
    <section id="animations" class="container content-section text-right">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Animations</h1>
                <h3>Some talks move faster than others.</h3>
                <p >Interactivity is great, and so are big grids of many plots. 
                However sometimes, you need to emphasize each and every point to elicit a feeling. Usually the overall feeling, not the specifics, stick with the users. 
                For this I use animations. 
                Unfortunately, most of my work here relates to natural disasters.</p>
                <img src="{{site.url}}/figures/fcasts.gif" width="500" height="500" alt="Fire forecasts" style="display: block; margin: auto;" /> 
                <p>Here we have some forecasts for annual data, so no seasonal component, for a variety of analytical units. This was an audience of one presentation.</p> 
            </div>
        </div>
    </section>
    