    <!-- art Section -->
    <section id="art" class="container content-section text-right">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Art</h1>
                <h3>Sometimes we need to compete for attention.</h3>
                <p>Words</p>
                <p> this would be a real good place to put some bad ass base r scatterplots etc. </p>
                <img src="{{site.url}}/figures/phyllotaxy_bg.png" width="500" height="500" alt="Fire forecasts" style="display: block; margin: auto;" /> 
                <p>Phyllotaxy are the distinct arrangements that leaves make coming out of a plant. This was on the back of an old business card along with the QR code below.</p>
                <img src="{{site.url}}/figures/Campaign LN86.png" width="500" height="500" alt="Fire forecasts" style="display: block; margin: auto;" /> 
                <p>Not made using code, but you have to get clicks somehow.</p>
            </div>
        </div>
    </section>