    <!-- art Section -->
    <section id="art" class="container content-section text-right">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Art</h1>
                <h3>Sometimes we need to compete for attention.</h3>
                <p>I also enjoy creating aesthetically pleasing images. I hope to start integrating these more into presentations as custom backgrounds and themes which match the figures. So if a company has branding and wants that on a slide! Here's a cool super nuanced and quite way to do that in a way that doesn't look super corporate. Obviously with the following pieces we would throw an alpha pane on top of them to push them furter into the background.</p>
                
                <img src="{{site.url}}/figures/Bookmark-draft.png" width="500" height="500" alt="Fire forecasts" style="display: block; margin: auto;" /> 
                <p>This is the backdrop for a bookmark! I've been struggling to drive clicks to my software. Someone suggested making bookmarks which link to them! So here we go, created using the absolutely amazing (and inspiring!) repo <a href="https://github.com/rstudio-conf-2022/art-from-code">Art From Code</a> by Danielle Navarro. </p>
            
                <img src="{{site.url}}/figures/phyllotaxy_bg.png" width="500" height="500" alt="Fire forecasts" style="display: block; margin: auto;" /> 
                <p>Phyllotaxy are the distinct arrangements that leaves make coming out of a plant. This was on the back of an old business card along with the QR code below. Essentially the above image represents the cells of a plant stem in cross section - which species may be arranged like this I'm not sure! The values are imputed from a simulation.</p>
                <img src="{{site.url}}/figures/Campaign LN86.png" width="250" height="250" alt="Fire forecasts" style="display: block; margin: auto;" /> 
                <p>Not made using code, but you have to get clicks somehow.</p>
            </div>
        </div>
    </section>