    <!-- assorted Section -->
    <section id="assorted" class="container content-section text-right">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Assorted</h1>
                <h2>Reduse, Reuse, Recycle.</h2>
                <p>Simple - I think formats are fleeting, but some messages will stay for a very long time. For these reasons, I make a lot of content using spatial objects and other coding approaches. This makes it so I invest the time to make high quality visuals which I know I can tweak to the next flavour of the month. </p>
            </div>
        </div>
    </section>