    <!-- assorted Section -->
    <section id="assorted" class="container content-section text-left">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Assorted</h1>
                <h3>Reduse, Reuse, Recycle.</h3>
                <p>Simple - I think formats are fleeting, but some messages will stay for a very long time. For these reasons, I make a lot of content using spatial objects and other coding approaches. This makes it so I invest the time to make high quality visuals which I know I can tweak to the next flavour of the month. </p>
                
                <img src="{{site.url}}/figures/Rasters.png" width="500" height="500" alt="Raster example" style="display: block; margin: auto;" /> 
                <p>Statistical models usually have two broad sets of data, an variable which needs to be predicted (dependent), and the variables which predict it (independent). When data sets have indepdent variables with coordinate information we can predict our model onto a gridded surface (a raster). However, predicting models onto these surfaces is computationally intensive. Hence, estimates of uncertainty (how accurate and precise our model is) are rarely predicted into space. As computational power has increased we argue that these measures of uncertainty should be widely distributed with spatial data sets. </p> 
                <p>The audience ranges from sophomore university students to tenured professors; especially in the environmental sciences and related fields.</p>
                <br>
                <img src="{{site.url}}/figures/SandSizes.png" width="450" height="279" alt="Raster example" style="display: block; margin: auto;" /> 
                <p>words</p>
                <br>
                <img src="{{site.url}}/figures/ExampleDirectory.png" width="450" height="279" alt="Raster example" style="display: block; margin: auto;" /> 
                <p>stuff</p>
                <br>
            </div>
        </div>
    </section>