    <!-- assorted Section -->
    <section id="assorted" class="container content-section text-left">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Assorted</h1>
                <h3>Reduse, Reuse, Recycle.</h3>
                <p>I think most formats of displaying data are fleeting, but some messages will need to be communicated for a very long time. 
                For these reasons, I make a lot of content using spatial objects and other coding approaches.
                This makes it so I invest the time to make high quality visuals which I know I can quickly tweak to the next flavour of the month. </p>
                
                <img src="{{site.url}}/figures/Raster-white.png" width="525" height="750" alt="Raster example" style="display: block; margin: auto;" /> 
                <p>Statistical models usually have two broad sets of data, an variable which needs to be predicted (dependent), and the variables which predict it (independent). 
                When data sets have independent variables with coordinate information we can predict our model onto a gridded surface (a raster). 
                However, predicting models onto these surfaces is computationally intensive. Hence, estimates of uncertainty (how accurate and precise our model is) are rarely predicted into space. 
                As computational power has increased we argue that these measures of uncertainty should be widely distributed with spatial data sets. </p> 
                <p>The audience ranges from sophomore university students to tenured professors; especially in the environmental sciences and related fields.</p>
                <br>
                <img src="{{site.url}}/figures/SandSizes.png" width="450" height="279" alt="Sand" style="display: block; margin: auto;" /> 
                <p>This is for teaching - it's a bubblechart or something similar with properly scaled sizes of sand grains.
                Beach sand is very coarse, however it's much more difficult to see the others without a hand lens.
                Hence, a lot of sand goes undetected! </p>
                <br>
                <img src="{{site.url}}/figures/ExampleDirectory.png" width="450" height="450" alt="Tree" style="display: block; margin: auto;" /> 
                <p>Do you ever have difficulty getting people to save files where they should be? 
                Don't shame them, give them something pretty to bookmark!</p>
                
                <img src="{{site.url}}/figures/ExampleFileName-white.png" width="450" height="450" alt="File Name Example" style="display: block; margin: auto;" /> 
                <p>Nobody would ever mess up a file naming convention!
                NO WAY! 
                But ya know having the format documented for <i>new hires</i> could be useful ;-).</p>

            </div>
        </div>
    </section>