    <!-- animations Section -->
    <section id="bespoke" class="container content-section text-left">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Bespoke</h1>
                <h3><i>"I was one among many - or at least I seemed to be"</i></h3>
                <p>The fun thing about the bleeding edge is when you get to show off your results! 
                But realize no way exists to do it yet.
                So then have to make a way to do it. </p>
                <img src="{{site.url}}/figures/rmbl_dual_trees.png" width="700" height="500" style="display: block; margin: auto;" /> 
                <p>Another one from the Masters disseration, for the camper/Linux crowd. I contest this is nothing more than a pie <i>chart</i>, which is laid out to display <i>phy</i>logenetic relations - or a <i>phychart</i> ;-). 
                <a href="https://github.com/sagesteppe/phycharts">Details here</a> Any of the readers would be very very familiar with both of these forms of data representation and could latch onto this immediately - simple.</p>
                <br>
                <img src="{{site.url}}/figures/functional_esd.png" width="730" height="591" style="display: block; margin: auto;" /> 
                <p>Where are you relative to your benchmarks?</p>
                <br>
            </div>
        </div>
    </section>
