    <!-- animations Section -->
    <section id="bespoke" class="container content-section text-right">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Bespoke</h1>
                <h2>Sometimes, we are unique. </h2>
                <p>"I was one amongst many - or at least I seemed to be". The fun thing about the bleeding edge is when you get to show off your results! But realize no way exists to do it yet.</p>
                <img src="{{site.url}}/figures/rmbl_dual_trees.png"  style="display: block; margin: auto;" /> 
                <img src="{{site.url}}/figures/functional_esd.png"  style="display: block; margin: auto;" /> 

            </div>
        </div>
    </section>
