    <!-- animations Section -->
    <section id="bespoke" class="container content-section text-left">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Bespoke</h1>
                <h3>"I was one amongst many - or at least I seemed to be"</h3>
                <p>The fun thing about the bleeding edge is when you get to show off your results! But realize no way exists to do it yet.</p>
                <img src="{{site.url}}/figures/rmbl_dual_trees.png" width="700" height="500" style="display: block; margin: auto;" /> 
                <p>Another one from the Masters disseration, for the camper/Linux crowd. I contest this is nothing more than a pie *chart*, which is laid out to display *phy*logenetic relations - or a *phychart*. <a href="https://github.com/sagesteppe/phycharts">Details here</a></p>
                <br>
                <img src="{{site.url}}/figures/functional_esd.png" width="730" height="591" style="display: block; margin: auto;" /> 
                <br>
            </div>
        </div>
    </section>
