    <!-- cartography Section -->
    <section id="cartography" class="container content-section text-left">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Maps</h1>
                <h2>The Greatest Lies every told</h2>
                <p>No method of data visualization has fallen so far from grace as maps. Despite the widespread admonishment of the medium, so strong are their powers, that I guarantee you 99% of people still think Europe is about as big as Africa, and would pick the wrong route to fly from New York to Hong Kong. A lie with a map has big implications. Here are some maps made to be as accurate to reality as possible, while still conveying my point. </p>
                <center>
                <img src="{{site.url}}/figures/elevation_contour_drought.png" width="500" height="500" style="display: block; margin: auto;" /> 
                <p>The target audience for this figure were outdoor recreationalists in Western Colorado; skiers, mountain bikers, and white water rafters. These people know the content well - where does the water fall? But could use a litle direction to truly see how great of a different exists between the highest alpine and the red rock deserts.</p>
                <br>
                <img src="{{site.url}}/figures/Lanphere.png" width="590" height="472" style="display: block; margin: auto;" />  
                <p>A supplmemental figure made for a colleague's publication at the 11th hour. The target audience are truly fantastic old school professors of natural history, e.g. entomology, botany, environmental science etc. This map is a detail map of Arcata, CA (the overview map with technical details not featured), with subdued vintage pastels as an ode to the well loved hippie mecca.</p>
                <br>
                <img src="{{site.url}}/figures/siteMaps.resized.png" width="500" height="500" style="display: block; margin: auto;" />
                <p>A supplemental figure for one of my publications. The audience for this figure are young hungry nerds who feel as comfortable in a tent as flashing linux onto bare metal and sequencing genomes. Rich in detail, emphasizing a faux pau amongst nerds of pie charts - which here have informative sizes.</p>
                <img src="{{site.url}}/figures/FQI-plots-resized.png" width="500" height="500" style="display: block; margin: auto;" />
                <p> The audience for this figure is overwhelmingly female, ages30 to seniors, while still needing to be clearly a part of an official - somewhat bleak- government report. It displays two strongly collinear metrics of habitat quality as the size and fill of points associated with ground control plots.</p>
                </center>
            </div>
        </div>
    </section>