    <!-- cartography Section -->
    <section id="cartography" class="container content-section text-left">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Maps</h1>
                <h2>The Greatest Lies every told</h2>
                <p>WHOA MAPS SO BELIIVABLE. </p>
                <img src="{{site.url}}/figures/elevation_contour_drought.png" width="500" height="500" style="display: block; margin: auto;" /> 
                <img src="{{site.url}}/figures/Lanphere.png" width="500" height="500" style="display: block; margin: auto;" />  
                <img src="{{site.url}}/figures/siteMaps.resized.png" width="500" height="500" style="display: block; margin: auto;" />
            </div>
        </div>
    </section>