    <!-- interactive Section -->
    <section id="interactive" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Interactive figures</h1>
                <h3>For those who want to get their hands dirty.</h3>
                <p>There are few subjects which unite all factions of people. Fortunately, interactive figures seem to be one of them - is this at long last our opportunity for world peace?! Unfortunately I cannot embed these features directly into this webpage, but you can find two pieces on my other Github pages!!!</p>
                <p> <a href="https://sagesteppe.github.io/EcoloradenseLeaflet/EColoradenseLeaflet.html#/modelled-suitable-habitat">Colorado Buckwheat</a> 
                I am using this presentation to share some background information on a landscape genetic research project which prospective REU (research experience for undergraduates) can apply for. Essentially I am interested in using species distribution models (from random forests) as the variates in a variety of other models, which seek to delineate population geographic boundaries, predict plant counts, and hence population sizes, as well as the connectivity of populations.</p>
                <p><a href="https://sagesteppe.github.io/Solidago-Megachile-Mutualism">Dune Goldenrod</a> 
                This is a piece used to recruit undergraduate research assistancts from Northwestern Universitys, and nearby universities & colleges. 
                It is a DBSCAN based cluster of individual plants at a relatively fine scale (~1 mile distance). </p>
            </div>
        </div>
    </section>



