    <!-- meat potatoes Section -->
    <section id="meatpotatoes" class="container content-section text-left">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>The meat and potatoes of data visualizations</h1>
                <h2>The right tool for the job is often the simplest one</h2>
                <p> Most problems can be resolved with a solid understanding of the issue at hand, the right framing, and fundamental statistics. These approaches are the the pillars on the temple, strong, unwavering, and clear cut. They should be conveyed as such without any distractions. </p>
                 <img src="{{site.url}}/photos/phenology_estimates_10_90.png" alt="Girl in a jacket" style="display: block; margin: auto;" /> 
            </div>
        </div>
    </section>