    <!-- meat potatoes Section -->
    <section id="meatpotatoes" class="container content-section text-right">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>The meat and potatoes of data visualizations</h2>
                <h1>The right tools for the task.</h1>
                <p>Most problems can be resolved with a solid understanding of the issue at hand, the right framing, and fundamental statistics. These approaches are the the pillars on the temple, strong, unwavering, and clear cut. They should be conveyed as such without any distractions. </p>
                <p> this would be a real good place to put some bad ass base r scatterplots etc. </p>
            </div>
        </div>
    </section>