    <!-- meat potatoes Section -->
    <section id="meatpotatoes" class="container content-section text-left">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>The meat & potatoes of data visualizations</h1>
                <h3>Straight to the point.</h3>
                <p>The right tool for the job is usually the simplest one. Most problems can be resolved with a solid understanding of the issue at hand, the right framing, and fundamental statistics. These approaches are the the pillars of data science, which to me is using large opporunistically collected data sets to create value for stakeholders, and these pillars should be allowed to shine bright without gaudy flourish which would be more apt covering up blemishes. </p>
                <img src="{{site.url}}/figures/phenology_estimates_10_90.png" width="500" height="500"  class="center"  style="display: block; margin: auto;" /> 
                <p> BACKGROUND: Scientists are attempting to better understand what plants insect pollinators rely on for food. Detailing this would require considerable amounts of field work and be quite expensive. Using pollen collected from an insects body, with molecular techniques, scientists can determine which plants it visited. However, the current molecular markers are not sufficiently detailed to work in groups of plants where species have minimal molecular divergence, and further filtering tools are required. For my masters I developed tools to filter plants in both space and time. 
                
                We wanted to determine whether the period over which a species of plant was flowering in an area of a few kilometers could be modelled at a daily resolution. If the plant was not flowering during this period, an insect could not visit it, and the DNA evidence must come from another closely related species. To model the flowering periods of plant species we used the weibull distribution, because we did not have enough data for machine learning. As you can see from our correlations on unused test data and the results from our training data the application this method is quite robust. 
                
                Our audience for this figure included many persons who had commonly criticized the application of the Weibull distribution for modelling phenological events. I had seem most of these people present, and I knew exactly what kind of aesthetics they liked, what they challenged about the use of the distribution, and how they like reporting statistics on figures. In a sense this had an audience of a couple naysayers. </p>
                <br>
                <img src="{{site.url}}/figures/waffles.png" width="419" height="600"  class="center" alt="waffles" style="display: block; margin: auto;" /> 
                <p>
                  The Bureau of Land Management (BLM) is one of the largest land management agencies in the world. While the National Park Service steals all the lustre, and the Forest Service holds the nations heart, BLM have just about as much land as those two combined. BLM came late to applying science to land management but when they did they threw in every chip they had. In particular they have spent well over a $100 million rolling out a standardized assessment method to determine the environmental quality of their land. 
                  
                  The main question then is - what is the quality of BLM land? 
                  In order to answer this we used a longitudinal study for a sample frame with spatially weighted regression to document many parameters. 
                  Here we show the results for the amount of land, across a roughly 900 thousand acre field office, which has fewer than the amount of invasive species they should have. 
                  In other words, all of these plots should be green; and the waffle plot is like a pie chart, where each square represents 1/100 of the sample frame.  
                  At first glance the answer is quite bleak, but an optimist might find a silver lining. 
                  In the plots at left, we see that invasive species have been documented on nearly all land across the field office, including the areas which are meant to have more natural managment methods. 
                  At center, we see that the relative abundance of the invasive species are generally somewhat low. 
                  At right we see that invasive species have truthfully taken over much of the land in the field office. 
                  The audience for this figure are professional land managers who tend to adopt a business as usual mindset.
                  It should be very clear this policy will not work, and modifications to practices must be made before the plots in the center and to the right look like the column of plots to the left. 
                </p>
                <br>
            </div>
        </div>
    </section>