 <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-center navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#meatprelude">Interactive</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#meatprelude">Meat & Potatoes</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#tableprelude">Tables</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#cartoprelude">Maps</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#animationsprelude">Animations</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#bespokeprelude">Bespoke</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#usualprelude">Usual Suspects</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#assortedprelude">Assorted</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#artprelude">Art</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>