 <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-center navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <font color="#008000">
                    <li>
                        <a class="page-scroll" href="#meatpotatoes">Meat & Potatoes</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#table">Tables</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#cartography">Maps</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#animations">Animations</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#bespoke">Bespoke</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#usualsuspects">Usual Suspects</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#assorted">Assorted</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#art">Art</a>
                    </li>
                    </font>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>