    <!-- table Section -->
    <section id="table" class="container content-section text-right">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>The table</h1>
                <h3>A tapestry to weave a narrative around.</h3>
                <p>When it comes to simplicity the table still remains supreme. Any dislike for this method of displaying tabular data can only be due to crimes committed against it by people using these for data exploration rather than sharing a distinct point. While I absolutely love LaTeX and markdown tables, straight to the point methods with no distractions, I've also started to become partial to gtables. I feel gtables are able to quickl y point a user to your argument a few pages deep into a report.</p>
                <img src="{{site.url}}/figures/LandMeetingBenchmarks.png" width="496" height="550"  class="center"  style="display: block; margin: auto;" /> 
                <p>This gallery has a few discussion of a big report for the government, I'll skip reviewing them here. Essentially, if we had to boil that down to a single figure. This would be it, their is also a figure version of this. But for the one person that this matters to. This is it. Also note the clean crisp lovely lines of LaTeX!</p>
                <img src="{{site.url}}/figures/LeafCutterBee-table.png" width="510" height="172"  class="center"  style="display: block; margin: auto;" /> 
                <p>I think that the mot beneficial use of tables are actually in conceptual figures! Creating simlated data can often take a long time, and people can get overwhelmed with details. But with a table you can combine text and formatting to guide people straight to where you want them to be. In particular I love to use them to compare and contrast groups.</p>
                <p>In this table we address a question regarding how the fitness of individual plants in a population are affected by interactions with an insect which uses the plants as a source for both housing material (leaf tissue), food for it's young (pollen), and itself (nectar). While the interactions are overwhelmingly positive for the population of the plant and inesct, as well as all individuals of the insect, we had to wonder - is this arrangement beneficial for all of the individual plants? Or are some parasitized rather than being in a mutually benefificial relationship?</p>
                <p>This is for an audience of a few close friends, again we know how they think, what they don't believe, and well the most influential ones favourite colours.</p>
                <img src="{{site.url}}/figures/rab_tab.png" width="510" height="172"  class="center"  style="display: block; margin: auto;" /> 
                <p>An update from a travesty of a conceptual figure from 44 years ago which still guides the prevalent lines of thinking in the field. Tailored to a younger audience, made more compact, and less verbose. </p>
                <img src="{{site.url}}/figures/RockFragmentTextureModifiers-Examples.png" width="493" height="162"  class="center"  style="display: block; margin: auto;" />
                <p>This table showcases the results for a take home teaching assignment. Target audience: my seasonal employees. </p>
            </div>
        </div>
    </section>
    
    
