    <!-- table Section -->
    <section id="table" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>The table - a classic receiving new life. </h2>
                <p>When it comes to simplicity the table still remains supreme. Any dislike for this method of displaying tabular data can only be due to crimes committed against it by people using these for data exploration rather than sharing a distinct point. While I absolutely love LaTeX and markdown tables, straight to the point methods with no distractions, I've also started to become partial to gtables. I feel gtables are able to quickl y point a user to your argument a few pages deep into a report.</p>
                <p> this would be a real good place to put some pretty tables. </p>
            </div>
        </div>
    </section>