    <!-- animations Section -->
    <section id="usualsuspects" class="container content-section text-right">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>The Usual Suspects</h1>
                <h2>Plots we love to shoehorn into a project.</h2>
                <p>A lot of learning to be a data scientist is feeling comfortable with your meat and potatoes approach which kicks the shit of someone else's overparametized and hideously contorted ML approach. But before that confidence comes a lot of funky and cool plots. Some times these make sense to use. Some other times, while, we're all young once.</p>
                <img src="{{site.url}}/figures/Sankey_plots.png"  style="display: block; margin: auto;" /> 
                <img src="{{site.url}}/figures/Networks3ways.png"  style="display: block; margin: auto;" /> 
                <img src="{{site.url}}/figures/circular_plot.png"  style="display: block; margin: auto;" /> 
            </div>
        </div>
    </section>
