<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {% include nav.html %}
    {% include header.html %}
    {% include meatpotatoes.html %}
    {% include about.html %}
    {% include download.html %}
    {% include table.html %}
    {% include cartography.html %}
    {% include animated.html %}
    {% include assorted.html %}
    {% include art.html %}
    {% include contact.html %}
    {% include footer.html %}
    {% include js.html %}
    </body>
</html>