<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {% include nav.html %}
    {% include header.html %}
    {% include about.html %}
    {% include interactive.html %}
    {% include meatprelude.html %}
    {% include meatpotatoes.html %}
    {% include tableprelude.html %}
    {% include table.html %}
    {% include cartoprelude.html %}
    {% include cartography.html %}
    {% include animationsprelude.html %}
    {% include animations.html %}
    {% include bespokeprelude.html %}
    {% include bespoke.html %}
    {% include usualprelude.html %}
    {% include usualsuspects.html %}
    {% include assortedprelude.html %}
    {% include assorted.html %}
    {% include artprelude.html %}
    {% include art.html %}
    {% include contact.html %}
    {% include footer.html %}
    {% include js.html %}
    </body>
</html>